
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.transactions_box {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.transaction {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}


.heading {
    align-self: center;
}



@media (min-width: 1147px) {
    .wrapper {
        display: block;
    }
}

@media (min-width: 900px) {
    .heading {
        align-self: start;
    }
}